
<section>
  <% if @attention.empty? %>
    <div class='alert alert alert-info' role='alert'> No existen <strong>atenciones</strong> registradas </div>
  <%else%>
  <br>
  <div class="container col-12">


<h3>Atenciones registradas</h3>
<table class="table table-hover ">
  <thead class="thead-dark">

  <tr>
    <th>id</td>
    <th>Fecha de atencion</th>
    <th>Duracion de atencion (HORAS)</th>
    <th>Cliente</th>
    <th>Profesional</th>
    <th>Descripcion</th>



<% if can? :read , :attentions%>
          <th>VER</th>

<% end %>
<% if can? :read , :attentions%>
          <th>PDF</th>

<% end %>
 <% if can? :update, :attentions %>
    <th>EDITAR</th>

<% end %>
 <% if can? :delete ,:attentions %>
     <th>ELIMINAR</th>

<% end %>
  <thead>
  </tr>



<% @attention.each do |attention|  %>
<tr>
<% if current_user.role =="professional" && current_user.professional.id == attention.professional_id %>


  <% @professional = attention.professional_id %>
  <% @client = attention.client_id %>


  <td><%= attention.id %></td>
  <td><%= attention.attention_date %></td>
  <td><%= attention.attention_time %></td>
  <td><%=  User.find(Client.find(@client).user_id).nombre  %></td>
  <td><%=  User.find(Professional.find(@professional).user_id).nombre  %></td>
  <td><%= attention.description %></td>
    <% if can? :read, :attentions %>
  <td><%= link_to 'Ver', attention_path(attention)%> </td>

    <td><%= link_to '', create_pdf_path(attention , :format => :pdf), target: :_blank%> </td>

<% end %>
 <% if can? :update, :attentions %>
  <td><%= link_to 'Editar', edit_attention_path(attention) %> </td>
<% end %>
 <% if can? :delete, :attentions %>
  <td><%= link_to 'Eliminar', attention ,   :method => :delete,  data: { confirm: "estas seguro?"} %></td>
<% end %>
 </tr>

  <%end%>
  <%end%>


  <%end%>

<% @attention.each do |attention|  %>
<tr>
<% if current_user.role =="client" && current_user.client.id == attention.client_id %>

<% @professional = attention.professional_id %>
  <% @client = attention.client_id %>


  <td><%= attention.id %></td>
  <td><%= attention.attention_date %></td>
  <td><%= attention.attention_time %></td>
  <td><%=  User.find(Client.find(@client).user_id).nombre  %></td>
  <td><%=  User.find(Professional.find(@professional).user_id).nombre  %></td>
  <td><%= attention.description %></td>
  <td><%= link_to '', attention_path(attention),class:"far fa-eye"%> </td>
  <td><%= link_to '', create_pdf_path(attention , :format => :pdf), target: :_blank ,class:"far fa-file-pdf"%> </td>
  <td><%= link_to 'Ver profesional', professional_path(attention.professional_id)%> </td>


 </tr>

  <%end%>


  <%end%>

  <% @attention.each do |attention|  %>
<tr>
<% if current_user.role =="admin"%>
 <% @professional = attention.professional_id %>
  <% @client = attention.client_id %>


  <td><%= attention.id %></td>
  <td><%= attention.attention_date %></td>
  <td><%= attention.attention_time %></td>
  <td><%=  User.find(Client.find(@client).user_id).nombre  %></td>
  <td><%=  User.find(Professional.find(@professional).user_id).nombre  %></td>
  <td><%= attention.description %></td>
    <% if can? :read, :attentions %>
  <td><%= link_to '', attention_path(attention),class:"far fa-eye"%> </td>

    <td><%= link_to '', create_pdf_path(attention , :format => :pdf), target: :_blank,class:"fas fa-file-pdf "%> </td>

<% end %>
 <% if can? :update, :attentions %>
  <td><%= link_to '', edit_attention_path(attention),class:"fas fa-pen" %> </td>
<% end %>
 <% if can? :delete, :attentions %>
  <td><%= link_to '', attention ,   :method => :delete,  data: { confirm: "estas seguro?"},class:"fas fa-trash" %></td>
<% end %>
 </tr>

  <%end%>
  <%end%>





  </table>
<div class="container">
    <%= link_to "todas", attentions_clients_path,:class =>"btn btn-success"%>
    <br>
    <br>
</div>


 <% if current_user.role == "professional"%>
 <div class="container">
            <%= link_to "Crear una nueva atencion", new_attention_path, :class =>"btn btn-primary"%>

          </div>
      <% end %>
       <% if current_user.role == "admin"%>
<div class="container">
  <%= link_to "Crear una nueva atencion", new_attention_path, :class =>" btn btn-primary"%>

</div>


      <% end %>

</div>
