<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <header>
    </header>




    <section>


<% if @attention.empty? %>
<%= "no existen atenciones registradas" %>


<%else%>
<%= "Atenciones registradas actualmente" %>

  <table class="navbar-dark bg-dark" >

     <% if current_user.role == "client"%>
      <% end %>

      <% if current_user.role == "professional"%>
      <%= "tipo de usuario: Profesional" %>
      <% end %> 
      
      <% if current_user.role == "admin"%>
      <%= "tipo de usuario: Administrador" %>
      <% end %> 
  <tr>
    <th>id</td>
    <th>Fecha de atencion</th>
    <th>Duracion de atencion (HORAS)</th>
    <th>Cliente</th>
    <th>Profesional</th>
    <th>Descripcion</th>



<% if can? :read , :attentions%>
          <th>VER</th>

<% end %>
 <% if can? :update, :attentions %>
    <th>EDITAR</th>

<% end %>
 <% if can? :delete ,:attentions %>
     <th>ELIMINAR</th>

<% end %>
  </tr>



<% @attention.each do |attention|  %>
<tr>
  <% @professional = attention.professional_id %>
  <% @client = attention.client_id %>


  <td><%= attention.id %></td>
  <td><%= attention.attention_date %></td>
  <td><%= attention.attention_time %></td>
  <td><%=  User.find(Client.find(@client).user_id).nombre  %></td>
  <td><%=  User.find(Professional.find(@professional).user_id).nombre  %></td>
  <td><%= attention.description %></td>
    <% if can? :read, :attentions %>
  <td><%= link_to 'Ver', attention_path(attention)%> </td>
<% end %>
 <% if can? :update, :attentions %>
  <td><%= link_to 'Editar', edit_attention_path(attention) %> </td>
<% end %>
 <% if can? :delete, :attentions %>
  <td><%= link_to 'Eliminar', attention ,   :method => :delete,  data: { confirm: "estas seguro?"} %></td>
<% end %>
 </tr>

  <%end%>


  <%end%>
  </table>




</section>
</body>
<style>
table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
}
section{
  margin: 20px;
}
</style>
