<center><h1>Informe</h1></center>
<br>
<br>
<h2>IDENTIFICACION DEL ESTUDIANTE:</h2>

<table>


<tr>
  <th><strong>Nombre</strong></th>
<th><%= User.find(Client.find( @attention.client_id).user_id).nombre  %></td>

</tr>

</table>







 <h3>descripcion</h3>
 <%= @attention.description %><br>

<br>
<h3>
Observaciones Generales
</h3>
<p><%=@attention.detail%></p>




<%= 'fecha de atencion:'%>
<%= @attention.attention_date %><br>

<%= 'duracion de atencion:'%>
<%= @attention.attention_time %>
<%= ' horas'%><br>
