

<section>


<% if @professional.empty? %>
<%= "no existen profesionales registrados registradas" %>


<%else%>

<h1>Profesionales registrados actualmente</h1>
<div class="table-resp-cont">

  <table class="table table-striped table-dark table-resp">
<tr class="bg-info">
    <th>id</td>
    <th>specialidad</th>
    <th>inicio </th>
    <th>final</th>
    <th>contrato</th>
    <th>profesional</th>

  </tr>


<% @professional.each do |professional|  %>
<tr class="bg-dark">


  <td><%= professional.id %></td>
  <td><%= Specialty.find(professional.specialty_id).name %></td>
  <td><%= professional.start_contract %></td>
  <td><%= professional.end_contract %></td>
  <td><%= professional.type_contract %></td>
  <td><%=  User.find(professional.user_id).nombre  %></td>

 

 </tr>

<% end %>
  <%end%>


  </table>
</div>
</section>

  <center>
  </center>

<style>
table, th, td {
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
}
table {
    border-spacing: 15px;
}
section{
  margin: 20px;
}
</style>
