
<section>


<% if @professional.empty? %>
<div class='alert alert-info' role='alert'>
  No hay <strong>Profesionales</strong> registrados
</div>
<%else%>
<br>
<div class="container col-12">


<h3>Profesionales registrados  </h3>

<div class="table-resp-cont">

  <table class="table table-hover ">
    <thead class="thead-dark">
      <th>Nombre</th>
      <th>Especialidad</th>
      <th>Inicio </th>
      <th>Termino de contrato</th>
      <th>contrato</th>
    </thead>


<% @professional.each do |professional|  %>
<tr class="">


  <td><%=  User.find(professional.user_id).nombre  %></td>
  <td><%= Specialty.find(professional.specialty_id).name %></td>
  <td><%= professional.start_contract %></td>
  <td><%= professional.end_contract %></td>
  <td><%= professional.type_contract %></td>




 </tr>

<% end %>
  <%end%>


  </table>
</div>
</section>


</div>
