<%= simple_form_for @user  do |f| %>
<% @specialty = Specialty.all %>
<h1>


<% if current_user.role != "admin" %>
<% @role = current_user.role %>
<%end%>
</h1>
<h1><%= %>
</h1>

<%= f.hidden_field :role , :value => @role %>
<div class="container ">



  <div class="field">
    <%= f.input :nombre , autofocus: true,:input_html => { :class => 'form-control',:onchange=>"valida1()",:id=>"val1" } %>

  </div>
  <div class="field">
    <p>*Fecha de nacimiento</p>
    <%= f.date_field :fecha_nacimiento , :max=> Date.today-18 ,autofocus: true,:class=>"form-control",:onchange=>"valida2()",:id=>"valida2"%>
  </div>
   <h6 style="color:red">
      <%= f.error :fecha_nacimiento %>
</h6>
  <div class="field">
    <%= f.input :direccion , autofocus: true,:input_html => { :class => 'form-control',:onchange=>"valida3()",:id=>"valida3" }%>
  </div>
    <div class="field">
    <%= f.label :numero_contacto %>
    <%= f.text_field :numero_contacto , autofocus: true ,:class=>"form-control",:onchange=>"valida4()",:id=>"valida4"%>
  </div>
    <h6 style="color:red">
      <%= f.error :numero_contacto %>
</h6>

  <div class="field">
    <%= f.input :email, autofocus: true, autocomplete: "email" ,:input_html => { :class => 'form-control',:onchange=>"valida5()",:id=>"valida5" }%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.input :password, autocomplete: "off" ,:input_html => { :class => 'form-control' ,:onchange=>"valida6()",:id=>"valida6"}%>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, autocomplete: "off",:input_html => { :class => 'form-control' ,:onchange=>"valida7()",:id=>"valida7"} %>
  </div>
  <div>
    </div>


<%if @role == 'client' %>
<%= f.simple_fields_for :client do |client| %>
<%= client.input :prevision, :include_blank => false, collection: [['fonasa',1], ['otro', 2]], error: 'la descripcion no puede estar vacia',  validate: { presence: true, uniqueness: true },:input_html => { :class => 'form-control' }  %>
      <% end %>


<% end %>
<%if @role == 'professional' %>


      <%= f.simple_fields_for :professional do |professional| %>


<br>
 <%= professional.input :type_contract,label: 'Tipo de contrato',:include_blank => false, collection: [['tipo 1',1], ['tipo 2', 2], ['tipo 3', 3]], error: 'no puede estar vacia',  validate: { presence: true, uniqueness: true },:input_html => { :class => 'form-control' }  %>
<%= professional.input (:specialty_id) , :collection => @specialty ,:label_method => :name,:value_method => :id , :label => "Especialidad" ,:include_blank => false ,  presence: true, uniqueness: { message: "debe ingresar este dato"  },:input_html => { :class => 'form-control' }  %>
<p>Inicio de contrato</p>
<%= professional.date_field :start_contract ,:class=>'form-control' %>
     <h6 style="color:red">
      <%= professional.error :start_contract %>
</h6>
<p>Fin contrato</p>
<%= professional.date_field :end_contract,   presence: true,:class=>'form-control' %>
    <h6 style="color:red">
      <%= professional.error :end_contract %>
</h6>


      <% end %>


   <% end %>
<br>
  <div class="actions">
<%= f.button :submit ,:class=>"form-control btn-primary btn",:value=>"Guardar" %>
  </div>
<% end %>
