<%= simple_form_for @user  do |f| %>




<%= f.hidden_field :role , :value => @role %>


<div class="field">
    <%= f.label :nombre %><br />
    <%= f.input :nombre , autofocus: true%>
  </div>
  <div class="field">
    <%= f.label :fecha_de_nacimiento %><br />
    <%= f.input :fecha_nacimiento , autofocus: true%>
  </div>
  
    <div class="field">
    <%= f.label :direccion %><br />
    <%= f.input :direccion , autofocus: true%>
  </div>
    <div class="field">
    <%= f.label :numero_contacto %><br />
    <%= f.input :numero_contacto , autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.input :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.input :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>
  <div>


<%if @role == 'client' %>
<%= f.simple_fields_for :client do |client| %>
        <%= client.input :prevision  %>
      <% end %>

      
<% end %>
<%if @role == 'professional' %>

      <%= f.simple_fields_for :professional do |professional| %>
        <%= professional.input :start_contract  %>
        <%= professional.input :end_contract  %>
        <%= professional.input :type_contract  %>
        <%= professional.input :specialty_id  %>

      <% end %>


   <% end %>

  <div class="actions">
<%= f.button :submit %>
  </div>
<% end %>