<% users=User.all %>



<div class="container col-12">
  <br>
   <h3>Administradores</h3>

   <table class="table table-hover ">
     <tr>
       <thead class="thead-dark">
          <th>id</td>
          <th>email</th>
          <th>nombre</th>
          <th>direccion</th>
          <th>Profesional</th>
          <th>Descripcion</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
      </tr>
      <%users.each do |user|%>
      <tr>
        <%if user.id != current_user.id %>
          <%if user.role == "admin" %>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.nombre %></td>
            <td><%= user.direccion %></td>
            <td><%= user.fecha_nacimiento %></td>
            <td><%= user.numero_contacto %></td>
            <td><%= link_to '', edit_user_path(user) ,class:"fa fa-user-edit fa-lg"%> </td>
            <td><%= link_to "", admin_destroy_user_path(user), method: :delete, data: { confirm: "Confirme para elimnar?" } , class:"fas fa-user-times fa-lg"%></td>
          <% end %>
         <% end %>
       <%end%>
    </tr>
  </table>
</div>
<div class="container col-12" >

  <h3>Profesionales</h3>
  <table class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th>id</td>
        <th>email</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Nacimiento</th>
        <th>Movil</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    <thead>

    <%users.each do |user|%>
      <%if user.role == "professional" %>
        <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.nombre %></td>
        <td><%= user.direccion %></td>
        <td><%= user.fecha_nacimiento %></td>
        <td><%= user.numero_contacto %></td>
        <td><%= link_to '', edit_user_path(user,:role => "professional") ,class:"fa fa-user-edit fa-lg"%> </td>
        <td><%= link_to "", admin_destroy_user_path(user), method: :delete, data: { confirm: "Confirme para eliminar?" } , class:"fas fa-user-times fa-lg"%></td>
          </tr>
      <% end %>
    <% end %>

 </table>
</div>
<div class="container col-12">
  <h3>Clientes</h3>
  <table class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th>id</td>
        <th>email</th>
        <th>nombre</th>
        <th>direccion</th>
        <th>Nacimiento</th>
        <th>Movil</th>

        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

      <%users.each do |user|%>

        <%if user.role == "client" %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.nombre %></td>
          <td><%= user.direccion %></td>
          <td><%= user.fecha_nacimiento %></td>
          <td><%= user.numero_contacto %></td>
          <td><%= link_to '', edit_user_path(user,:role => "client") ,class:"fa fa-user-edit fa-lg"%> </td>
          <td><%= link_to "", admin_destroy_user_path(user), method: :delete, data: { confirm: "Confirme para eliminar?" } , class:"fas fa-user-times fa-lg"%></td>
        </tr>
        <% end %>

      <% end %>

  </table>
</div>
