
<section >


<% if @client.empty? %>
  <div class='alert alert-info' role='alert'>
    No hay <strong>Clientes</strong> registrados
  </div>
<%else%>

<%= "clientes registrados actualmente" %>





  <table class="table table-dark">

 <tr>
    <th>id atencion</td>
    <th>nombre usuario</th>
    <th>prevision</th>

  </tr>


<% @client.each do |client|  %>
<tr>



  <td><%= client.id %></td>

  <td><%= User.find(client.user_id).nombre %></td>
  <%if client.prevision == 1 %>
  <td><%= "fonasa"    %></td>

<%else %>
  <td><%= "isapre"    %></td>

  <%end%>

 </td>
 </tr>

  <%end%>

  <%end%>

  </table>
</section>
