<!DOCTYPE html>

    <section>


<% if @client.empty? %>

<div class="alert alert-warning" role="alert"> no existen clientes registrados registradas </div>'
<%= link_to "añadir informacion a cliente", new_client_path, :class =>"nav-link"%>


<%else%>

<%= "clientes registrados actualmente" %>




<%= link_to "añadir informacion a cliente", new_client_path, :class =>"nav-link"%>

  <table class="table table-dark">

 <tr>
    <th>id atencion</td>
    <th>usuario</th>
    <th>prevision</th>
    <th>preexistencia</th>
    <th>VER</th>
    <th>EDITAR</th>
    <th>ELIMINAR</th>
  </tr>


<% @client.each do |client|  %>
<tr>




  <td><%= client.id %></td>
  <td><%= client.prevision    %></td>
  <td><%= client.prevision    %></td>
   <td><%= link_to 'PREEXISTENCIAS', :controller => 'preexistenceclients', :id => client.id%> </td>

  <td><%= link_to 'VER', client_path(client)%> </td>
  <td><%= link_to 'EDITAR', edit_client_path(client) %>
    <td><%= link_to 'ELIMINAR', client ,   :method => :delete,  data: { confirm: "Are you sure?"} %></td>
 </td>
 </tr>

  <%end%>

  <%end%>

  </table>
</section>
