
<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body>

    <div class="row">

      <!--PANEL IZQUIERDO INICIO -->

      <div class="col-sm-1 aside-container" >

        <div class="circulo">
          <img src="/logo.jpg" class="imagen" alt="">
        </div>
        <div class="">
          <br><br><br>
        </div>


        <ul class="navbar-nav mr-auto">

          <li class="aside-items">
            <%= link_to "", professionals_path, :class =>"fas fa-user-tie aside-icons",:id => "Profesional"%>
          </li>
          <li class="aside-items">
             <%= link_to "", clients_path, :class =>"fas fa-user-graduate aside-icons",:id => "Cliente"%>
           </li>
           <li class="aside-items">
             <%= link_to "", users_path, :class =>"fas fa-users-tie aside-icons",:id => "Ver usuarios" %>
           </li>
           <li class="aside-items">
             <%= link_to "", users_option_path, :class =>"fas fa-user-plus aside-icons",:id => "Añadir usuario" %>
           </li>

        </ul>

      </div>
        <!--PANEL IZQUIERDO FIN -->

        <!--NAV INICIO -->

      <div class="col-sm-11" id="otro" style="padding-left:0px !important;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
           <a class="navbar-brand" href="#">CpConstruyamos</a>

           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">

           </div>
         </nav>
           <!--NAV FIN -->

          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </body>








</html>
