
<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>

  <body  >
      <% if user_signed_in?  %>


<div class="row" style="height:1024px;">

  <% if user_signed_in?  %>
    <div class="col-sm-1
    ">

    </div>
      <div class="col-sm-1 aside-container "style="position: fixed; margin-left:3px;" id="Switch" >
        <div class="circulo">
          <img src="/logo.jpg" class="imagen " alt="">
        </div>
        <div class="">
          <br><br><br>
        </div>

        <ul  class="navbar-nav mr-auto">
        <li class="aside-items">
          <%= link_to " ", attentions_path, :class =>"fas fa-book aside-icons",:id => "Primero"%>
        </li>
        <br>

       <li class="aside-items">
          <%= link_to "  ", edit_user_path(current_user.id), :class =>"fa fa-user-edit  aside-icons",:id => "Primero"%>
        </li>

       </ul>
      </div>

      <div class="col-sm-11" id="otro" style="padding-left:0px !important;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
           <a class="navbar-brand" href="#">CpConstruyamos</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>



           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">






                    <% if current_user.role == "admin"%>
                     <li class="nav-item nav-link disabled">
                         <%= link_to "Administrador", attentions_path %>
                      </li>


                      <li class="nav-item dropdown">
                        <%= link_to "crear usuario ", users_option_path, :class =>"nav-link"%>
                      </li>


                      <li class="nav-item dropdown">
                        <%= link_to "profesionales ", professionals_path, :class =>"nav-link"%>
                      </li>
                      <li class="nav-item dropdown">
                        <%= link_to "clientes ", clients_path, :class =>"nav-link"%>
                      </li>

                    <% end %>
                    <li class="nav-item">
                      <a class="nav-link" href="/users/sign_out">Salir</a>
                    </li>



                   <% end %>


           </ul>

           </div>
         </nav>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </body>

      </div>
      </div>


   <%else%>
     <%= yield %>
      <% end %>



</html>
